@import '~/utils/mixins.scss';

.hero {
  height: 700px;
  padding-top: 160px;
  color: var(--superlight-creme);
  font-size: 60px;
  font-family: var(--font-secondary);
  text-align: center;
  background: url('/images/image-museum-page.jpg') center / cover no-repeat;

  @include mediaMaxMd {
    height: 570px;
    padding-top: 90px;
    font-size: 32px;
  }
}

.mainWrap {
  margin-right: 15px;
  margin-left: 15px;
}

.main {
  max-width: 900px;
  margin: -120px auto 0;
  padding: 60px 36px 100px;
  background-color: var(--superlight-creme);

  @include mediaMaxMd {
    max-width: 600px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.mainBlock {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin: 0 0 30px;
  font-size: 40px;
  font-family: var(--font-secondary);

  @include mediaMaxMd {
    font-size: 24px;
  }
}

.subtitle {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 30px;
}

.text {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 30px;
}
