@import '~/utils/mixins.scss';

.hero {
  height: 700px;
  padding-top: 160px;
  color: var(--super-light-creme);
  font-size: 60px;
  font-family: var(--font-secondary);
  text-align: center;
  background: url('/images/image-museum-page.jpg') center / cover no-repeat;

  @include mediaMaxMd {
    height: 570px;
    padding-top: 90px;
    font-size: 32px;
  }
}

.subtitle {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 30px;
}

.text {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 30px;
}
