@import '~/utils/mixins.scss';

.root {
  position: relative;
  height: 660px;

  @include mediaMaxMd {
    height: 440px;
  }
}

.btnWrap {
  position: absolute;
  bottom: 75px;
  left: 60px;

  @include mediaMaxMd {
    bottom: 30px;
    left: 5px;
  }
}
