@import '~/utils/mixins.scss';

.footer {
  margin-top: 30px;
}

.contacts {
  display: grid;
  gap: 10px;
  font-weight: bold;
}

.bottomBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 157px;
  height: 87px;
  background: url('/images/logo-research.jpg') 0 0 / cover no-repeat;

  @include mediaMaxMd {
    width: 117px;
    height: 65px;
  }
}
