@import '~/utils/mixins.scss';

.title {
  margin: 0 0 25px;
  font-weight: normal;
  font-size: 40px;
  font-family: var(--font-secondary);
  line-height: 48px;
}

.text {
  margin: 0 0 25px;
}

.image {
  width: 100%;
  height: auto;
  min-height: 170px;
  margin-bottom: 50px;
  object-fit: cover;
}

.content {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
