.hero {
  position: relative;
  height: 880px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 17px;
    background: url('/images/row-hills.svg') 0 0 / cover repeat-x;
    content: '';
  }

  &.var1 {
    background-image: url('/images/museum-1.jpg');
  }

  &.var2 {
    background-image: url('/images/museum-2.jpg');
  }

  &.var3 {
    background-image: url('/images/museum-3.jpg');
  }
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1360px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px 0;
}

.contentWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  color: var(--light-text);
}
