@import '~/utils/mixins.scss';

.root {
  box-sizing: content-box;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 190px;
  padding-right: 35px;
  padding-left: 25px;

  @include mediaMaxMd {
    padding-top: 120px;
  }
}

.title {
  margin-bottom: 55px;
  font-size: 80px;
  font-family: var(--font-secondary);
  text-align: center;

  @include mediaMaxMd {
    margin-bottom: 20px;
    font-size: 32px;
  }
}

.table {
  margin-bottom: 90px;
}

.row {
  display: grid;
  grid-template-columns: 240px 300px 310px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 25px;
  border-top: 1px solid var(--bordeaux);

  &:last-child {
    border-bottom: 1px solid var(--bordeaux);
  }

  @include mediaMaxMd {
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
  }
}

.colTitle {
  font-size: 32px;
  font-family: var(--font-secondary);
}

.text {
  font-size: 18px;
}

.name {
  margin-top: 2px;
  font-weight: 600;
  font-size: 22px;
}

.colContacts {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
}

.web {
  margin-top: 2px;
}
