@import '~/utils/mixins.scss';

.root {
  height: 700px;
  padding-top: 190px;
  color: var(--super-light-creme);
  font-size: 50px;
  font-family: var(--font-secondary);
  text-align: center;
  background-color: var(--salon);

  @include mediaMaxMd {
    height: 570px;
    padding-top: 90px;
    font-size: 28px;
  }

  &.slim {
    height: 440px;

    @include mediaMaxMd {
      height: 300px;
    }
  }

  &.mint {
    color: var(--bordeaux);
    background-color: var(--mint);
  }

  &.light-purple {
    color: var(--super-light-creme);
    background-color: var(--light-purple);
  }
}
