@import '~/utils/mixins.scss';

.root {
  height: 700px;
  padding-top: 160px;
  color: var(--superlight-creme);
  font-size: 50px;
  text-align: center;
  background-color: var(--salon);

  @include mediaMaxMd {
    height: 570px;
    padding-top: 90px;
    font-size: 28px;
  }

  &.mint {
    color: var(--bordeaux);
    background-color: var(--mint);
  }

  &.light-purple {
    color: var(--superlight-creme);
    background-color: var(--light-purple);
  }
}
