@import '~/utils/mixins.scss';

.root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--zIndex-header);
  color: var(--super-light-creme);

  &.dark {
    color: var(--bordeaux);
  }

  &.active {
    color: var(--bordeaux);
    background-color: var(--super-light-creme);
    border-bottom: 1px solid var(--bordeaux);
  }

  &.mobileDark {
    @include mediaMaxMd {
      color: var(--bordeaux);
    }
  }
}

.inner {
  display: flex;
  align-items: center;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 20px;
  transition: all 0.3s;

  .root.active & {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include mediaMaxMd {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.socialWrap {
  margin-right: auto;
  color: currentColor;

  @include mediaMaxMd {
    display: none;
  }
}

.menuIconWrap {
  display: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;

  @include mediaMaxMd {
    display: block;
  }
}

.logoWrap {
  margin-right: auto;
  margin-left: auto;

  @include mediaMinMd {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.langBlock {
  margin-left: 20px;

  @include mediaMaxMd {
    margin-left: 0px;
  }
}
