@import '~/utils/mixins.scss';

.root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  color: var(--light-text);

  &.dark {
    color: var(--bordeaux);
  }

  &.active {
    color: var(--bordeaux);
    background-color: var(--superlight-creme);
    border-bottom: 2px solid var(--bordeaux);
  }

  &.mobileDark {
    @include mediaMaxMd {
      color: var(--bordeaux);
    }
  }
}

.inner {
  display: flex;
  align-items: center;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 20px;
  transition: all 0.3s;

  .root.active & {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include mediaMaxMd {
    padding: 25px 20px;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.socialWrap {
  margin-right: auto;
  color: currentColor;

  & svg path {
    fill: currentColor;
  }

  @include mediaMaxMd {
    display: none;
  }
}

.menuIconWrap {
  display: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;

  & svg path {
    stroke: currentColor;
  }

  @include mediaMaxMd {
    display: block;
  }
}

.logoWrap {
  margin-right: auto;
  margin-left: auto;

  svg path {
    fill: currentColor;
  }

  @include mediaMinMd {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navList {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  list-style: none;

  @include mediaMaxMd {
    display: none;
  }
}

.navListItem {
  position: relative;
  padding: 7px 14px;

  &.active {
    border: 1px solid currentColor;
  }
}

.langBlock {
  margin-left: 20px;

  @include mediaMaxMd {
    margin-left: 0px;
  }
}

.innerMenuContainer {
  position: absolute;
  top: calc(100% - 5px);
  left: 50%;
  display: none;
  padding-top: 10px;

  .navListItem:hover & {
    display: block;
  }
}

.innerMenuList {
  position: relative;
  display: grid;
  gap: 20px;
  padding: 15px 35px;
  color: var(--bordeaux);
  list-style: none;
  background-color: var(--superlight-creme);
  border: 1px solid var(--bordeaux);
  transform: translateX(-50%);

  &::before {
    position: absolute;
    top: -6px;
    right: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--superlight-creme);
    border: 1px solid var(--bordeaux);
    border-top-width: 0;
    border-right-width: 0;
    transform: rotate(-225deg);
    content: '';
  }
}

.innerMenuListItem {
  color: var(--bordeaux);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}
