@import '~/utils/mixins.scss';

.navList {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;

  @include mediaMaxMd {
    display: none;
  }
}

.navListItem {
  position: relative;
  padding: 7px 14px;

  &.active {
    border: 1px solid currentColor;

    &:hover {
      color: var(--super-light-creme);
      background-color: var(--bordeaux);
    }
  }
}

.innerMenuList {
  position: relative;
  display: grid;
  padding: 5px 0;
  color: var(--bordeaux);
  list-style: none;
  background-color: var(--super-light-creme);
  border: 1px solid var(--bordeaux);
}

.innerMenuListItem {
  position: relative;
  display: block;
  padding: 10px 35px;
  color: var(--bordeaux);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.3s;

  &:hover::before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 3px;
    background-color: var(--bordeaux);
    content: '';
  }
}
