@import '~/utils/mixins.scss';

.root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  color: var(--light-text);

  &.active {
    color: var(--bordeaux);
    background-color: var(--superlight-creme);
    border-bottom: 2px solid var(--bordeaux);
  }
}

.inner {
  display: flex;
  align-items: center;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;

  @include mediaMaxMd {
    padding: 25px 20px;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.socialWrap {
  margin-right: auto;

  .root.active & {
    svg path {
      fill: var(--bordeaux);
    }
  }

  @include mediaMaxMd {
    display: none;
  }
}

.menuIconWrap {
  display: none;
  padding: 0;
  background-color: transparent;
  border: 0;

  .root.active & {
    svg path {
      stroke: var(--bordeaux);
    }
  }

  @include mediaMaxMd {
    display: block;
  }
}

.logoWrap {
  margin-right: auto;
  margin-left: auto;

  .root.active & {
    svg path {
      fill: var(--bordeaux);
    }
  }

  @include mediaMinMd {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navList {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: auto;
  list-style: none;

  @include mediaMaxMd {
    display: none;
  }
}

.navListItem {
  color: inherit;
  text-decoration: none;

  &.active {
    padding: 7px 14px;
    border: 1px solid currentColor;
  }
}

.langBlock {
  margin-left: 20px;

  @include mediaMaxMd {
    margin-left: 0px;
  }
}
