@import '~/utils/mixins.scss';

.inputWrap {
  height: 48px;
  color: var(--bordeaux);
  border: 2px solid var(--bordeaux);

  &.mobileLight {
    @include mediaMaxMd {
      color: var(--super-light-creme);
      border-color: var(--super-light-creme);
    }
  }
}

.input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: inherit;
  background-color: transparent;
  border: 0;

  &::placeholder {
    color: var(--bordeaux);
    font-weight: 300;

    .inputWrap.mobileLight & {
      @include mediaMaxMd {
        color: var(--super-light-creme);
      }
    }
  }
}
