.title {
  margin: 0 0 30px;
  font-size: 40px;
  line-height: 48px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col1 {
  max-width: 320px;
  padding-top: 50px;
  font-size: 22px;
  line-height: 30px;
}
