@import '~/utils/mixins.scss';

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.col1 {
  max-width: 370px;
  padding-top: 50px;
  padding-bottom: 40px;
}

.mapWrap {
  width: 100%;
  max-width: 800px;
  height: 350px;
}
