:root {
  box-sizing: border-box;

  --blue: #173ab0;
  --red: #96152a;
  --mint: #b9eab9;
  --bordeaux: #590c28;
  --orange: #f49464;
  --light-purple: #6b63ce;
  --superlight-creme: #fff8ed;

  --light-text: #edebee;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

html {
  overflow-y: scroll;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  color: var(--bordeaux);
  font-family: 'BR Hendrix', 'Arial', 'Helvetica', sans-serif;
  background-color: var(--superlight-creme);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
