.head {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.title {
  margin: 0 0 30px;
  font-size: 120px;
  font-family: var(--font-secondary);
  line-height: 143px;
  animation: show-to-up 2s forwards 500ms;

  &.preAnimate {
    transform: translateY(100px);
    opacity: 0;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 100%;
  max-width: 500px;
  animation: show-to-up 2s forwards;
}

.col2 {
  padding-top: 100px;
  padding-left: 40px;
}

.textBlock {
  max-width: 550px;
  padding-left: 20%;
  font-size: 22px;
  line-height: 30px;
  animation: show-to-up 2s forwards 1s;

  &.preAnimate {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes show-to-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
