@import '~/utils/mixins.scss';

.heroWrapDesktop {
  @include mediaMaxMd {
    display: none;
  }
}

.heroWrapMobile {
  display: none;

  @include mediaMaxMd {
    display: block;
  }
}

.mainBlock {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 36px 40px;

  @include mediaMaxMd {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.contentTitle {
  max-width: 930px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 155px;
  padding-bottom: 70px;
  color: var(--bordeaux);
  font-size: 40px;
  font-family: var(--font-secondary);
  line-height: 47px;
  text-align: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include mediaMaxMd {
    grid-template-columns: 1fr;
  }
}

.mapContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;

  @include mediaMaxMd {
    grid-template-columns: 1fr;
  }
}
