@import '~/utils/mixins.scss';

.hero {
  height: 700px;
  background: url('/images/image-museum-page.jpg') 0 0 / cover no-repeat;
}

.main {
  max-width: 900px;
  margin: -120px auto 0;
  padding: 60px 36px 100px;
  background-color: var(--superlight-creme);
}

.title {
  margin: 0 0 30px;
  font-size: 40px;
  line-height: 48px;
}

.subtitle {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 30px;
}

.text {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 30px;
}
