.root {
  display: flex;
  align-items: center;
  padding: 14px 20px;
  color: var(--superlight-creme);
  background-color: var(--red);
  border: 0;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
