@import '~/utils/mixins.scss';

.title {
  margin: 0 0 30px;
  font-size: 60px;
  font-family: var(--font-secondary);
  text-align: center;

  @include mediaMaxMd {
    font-size: 32px;
  }
}

.content {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.text {
  margin: 0 0 50px;
  font-size: 22px;
}

.projectTitle {
  margin: 0;
  font-size: 40px;
  font-family: var(--font-secondary);
}

.aboutWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
