@import '~/utils/mixins.scss';

.content {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.text {
  margin: 0 0 50px;
  font-size: 22px;
}

.projectTitle {
  margin: 0 0 50px;
  font-weight: normal;
  font-size: 40px;
  font-family: var(--font-secondary);
}

.aboutWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
