@import '~/utils/mixins.scss';

.title {
  margin: 0 0 35px;
  font-size: 40px;
}

.footer {
  margin-top: 15px;
}

.contacts {
  display: grid;
  gap: 10px;
  font-weight: bold;
}

.bottomBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 162px;
  height: 112px;
  margin-top: 25px;
  background: url('/images/logo-marco-simonis.png') 0 0 / cover no-repeat;

  @include mediaMaxMd {
    width: 121px;
    height: 84px;
  }
}
