@import '~/utils/mixins.scss';

.buttonForm {
  display: flex;
  align-items: center;
  padding: 13px 20px;
  color: var(--superlight-creme);
  font-weight: bold;
  background-color: var(--bordeaux);
  border: 0;
  border-radius: 0;

  &.mobileLight {
    @include mediaMaxMd {
      color: var(--blue);
      background-color: var(--superlight-creme);
    }
  }

  &.mint {
    color: var(--bordeaux);
    background-color: var(--mint);
  }

  &.light-purple {
    color: var(--superlight-creme);
    background-color: var(--light-purple);
  }

  &.salon {
    color: var(--superlight-creme);
    background-color: var(--salon);
  }
}
