.root {
  display: flex;
  padding: 7px;
  color: var(--super-light-creme);
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--super-light-creme);
  border-bottom-width: 3px;
  cursor: pointer;
}
