@import '~/utils/mixins.scss';

.main {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 235px 36px 170px;
  color: var(--bordeaux);

  @include mediaMaxMd {
    padding-top: 150px;
  }
}

.title {
  margin: 0 0 20px;
  font-weight: normal;
  font-size: 40px;
  font-family: var(--font-secondary);
  line-height: 48px;
}

.subtitle {
  margin: 0 0 40px;
  font-size: 22px;
  line-height: 30px;
}

.text {
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 22px;
}
