.root {
  display: inline-flex;
  align-items: center;
}

.lang {
  min-width: 20px;
  text-transform: capitalize;
}

.list {
  display: grid;
  padding: 5px 0;
  color: var(--bordeaux);
  list-style: none;
  background-color: var(--superlight-creme);
  border: 1px solid var(--bordeaux);
}

.item {
  display: block;
  padding: 10px 35px;
  color: var(--bordeaux);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: var(--superlight-creme);
    background-color: var(--bordeaux);
  }
}
