@import '~/utils/mixins.scss';

.head {
  display: flex;
  height: 460px;
  color: var(--super-light-creme);
  background-color: var(--orange);
}

.content {
  width: 100%;
  max-width: 1190px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

.text {
  margin: 0 0 40px;
  font-size: 22px;

  @include mediaMaxMd {
    font-size: 16px;
  }
}

.image {
  width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}
