$safe-space: 80px;

.root {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  max-width: 190px;
  padding: 50px 50px $safe-space;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-100px);
  }
}

.content {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  opacity: 0;
  transition: all 0.3s;

  .root:hover & {
    opacity: 1;
  }
}

.title {
  font-size: 36px;
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: center;
}

//

.popup {
  position: relative;
  max-width: 480px;
  background-color: var(--superlight-creme);
}

.popupInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 30px 60px;
}

.popupTitle {
  color: var(--salon);
}

.popupSubtitle {
  margin: 0 0 40px;
  color: var(--salon);
  font-size: 20px;
  font-family: 'Sign Maker JNL';
  line-height: 23px;
  text-align: center;
}

.popupText {
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.popupLink {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.popupClose {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
}

.popupButtonWrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
