.header {
  display: flex;
  align-items: center;
}

.socialWrap {
  margin-right: auto;
}

.logoWrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navList {
  display: flex;
  gap: 30px;
  margin-left: auto;
  list-style: none;
}

.navListItem {
  color: var(--light-text);
}
