@import '~/utils/mixins.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 20px 20px;
  color: var(--light-text);

  @include mediaMaxMd {
    padding: 25px 20px;
  }
}

.socialWrap {
  margin-right: auto;

  @include mediaMaxMd {
    display: none;
  }
}

.menuIconWrap {
  display: none;

  @include mediaMaxMd {
    display: block;
  }
}

.logoWrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navList {
  display: flex;
  gap: 30px;
  margin-left: auto;
  list-style: none;

  @include mediaMaxMd {
    display: none;
  }
}

.navListItem {
}

.langBlock {
  margin-left: 20px;

  @include mediaMaxMd {
    margin-left: auto;
  }
}
